<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加习题页面</title>
    <div th:include="manager/manageCommon/js_css :: js_css"></div>
</head>
<body>
<div class="ui grid">
    <div class="row" th:include="manager/manageCommon/nav :: manageNav"></div>
    <!--表单-->
    <div style="margin: 0px auto !important;width: 500px">
        <form  method="post" th:action="@{/manage/practice/addPractice}" class="ui form" style="font-size: large">
            <div class="field">
                <label>题目信息</label>
                <textarea style="resize: none;height: 100px" name="practiceName"></textarea>
            </div>
            <div class="field">
                <label>选项(不同选项之间使用###来作为分割)</label>
                <textarea style="resize: none;height: 100px" name="practiceChanges"></textarea>
            </div>
            <div class="field">
                <label>答案选项(多选使用###来分割)</label>
                <input type="text" name="answer"/>
            </div>
            <div class="field">
                <!--如果不是从某个题库页面跳转过来的话，就显示题库选择-->
                <div th:if="${practiceTag == null}">
                    <label>题库选择</label>
                    <select name="practiceTag">
                        <option th:each="practiceTagX : ${practiceTags}" th:text="${practiceTagX.practiceTagName}"></option>
                    </select>
                </div>
                <div th:if="${practiceTag != null}">
                    <label>题库</label>
                    <input name="practiceTag" type="text" th:value="${practiceTag.practiceTagName}">
                </div>

            </div>
            <div class="field">
                <label>题目来源</label>
                <select name="practiceFrom">
                    <option th:each="platform : ${platforms}" th:text="${platform.platform}"></option>
                </select>
                <a th:href="@{/manage/contest/toAddContestPlatform}">没有想要的?点击这里</a>
            </div>
            <div class="field">
                <label>题目解析</label>
                <textarea style="resize: none;height: 100px" name="practiceExplain"></textarea>
            </div>
            <div class="field">
                <label>题目解析</label>
                <input type="radio" name="isRadioOrSelect" value="radio"> 单选
                <input type="radio" name="isRadioOrSelect" value="select"> 多选
            </div>
            <button class="ui button" type="submit">添加</button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>

<script>
    $(function(){
        //将导航标为选中状态
        $("#managePractice").attr("class","item active");
    })
</script>
</body>
</html>