<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>推荐信息详情页面</title>
    <div th:include="common/js_css :: js_css"></div>
</head>
<body>
<div class="ui grid">
    <!--顶部导航栏-->
    <div class="row" th:include="common/nav :: nav"></div>

    <!--占位-->
    <div class="three wide column"></div>
    <div class="ten wide column" >
        <!--展示图片-->
        <img th:src="${advice.adviceImg}" width="200px" height="200px" style="display:block;margin: 20px auto;">
        <h1 style="text-align: center;margin-top: 20px" th:text="${advice.adviceName}"></h1>
        <br>
        <div class="ui message" style="width: 800px;margin: 0px auto;border: 1px gray;border-radius: 2px">
            <div th:utext="${content}" id="content" style="word-break: break-all;word-wrap: break-word">
                正文部分
            </div>
        </div>
    </div>
    <!--底部-->
    <div style="margin: 20px auto;font-size: large" th:include="common/footer :: footer"></div>
</div>
<script>
    //代码高亮显示
    $(function () {
        //加上这个代码才能进行高亮显示
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });
    })
</script>
</body>
</html>