<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<div th:fragment="js_css">
    <!--引入semantic-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <link rel="stylesheet" href="/css/semantic.min.css">

    <!--引入阿里字体图标库-->
    <script src="/js/iconfont.js"></script>
    <link rel="stylesheet" href="/css/iconfont.css">

    <!--代码高亮-->
    <link rel="stylesheet" href="/css/default.min.css">
    <script src="/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!--引入marked.js-->
    <script src="/js/marked.min.js"></script>

    <!--网站图标-->
    <link rel="icon" type="image/x-icon" href="/css/favico.ico">
</div>

</body>
</html>