<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题解修改页面</title>
    <div th:include="manager/manageCommon/js_css :: js_css"></div>
</head>
<body>
<div class="ui grid">
    <div class="row" th:include="manager/manageCommon/nav :: manageNav"></div>
    <!--表单-->
    <div style="margin: 0px auto !important;width: 500px">
        <form  method="post" th:action="@{/manage/practice/updatePractice}" class="ui form" style="font-size: large">
            <input type="hidden" name="id" th:value="${practice.id}">
            <div class="field">
                <label>题目信息</label>
                <textarea th:text="${practice.practiceName}" style="resize: none;height: 100px" name="practiceName"></textarea>
            </div>
            <div class="field">
                <label>选项(不同选项之间使用###来作为分割)</label>
                <textarea th:text="${practice.practiceChanges}" style="resize: none;height: 100px" name="practiceChanges"></textarea>
            </div>
            <div class="field">
                <label>答案选项(多选使用###来分割)</label>
                <input th:value="${practice.practiceAnswer}" type="text" name="answer"/>
            </div>
            <div class="field">
                <label>题库选择</label>
                <select name="practiceTag">
                    <option th:text="${practice.practiceTag}"></option>
                    <option th:each="practiceTagX : ${practiceTags}" th:text="${practiceTagX.practiceTagName}"></option>
                </select>
            </div>
            <div class="field">
                <label>题目来源</label>
                <select name="practiceFrom">
                    <option th:text="${practice.practiceFrom}"></option>
                    <option th:each="platform : ${platforms}" th:text="${platform.platform}"></option>
                </select>
                <a th:href="@{/manage/contest/toAddContestPlatform}">没有想要的?点击这里</a>
            </div>
            <div class="field">
                <label>题目解析</label>
                <textarea th:text="${practice.practiceExplain}" style="resize: none;height: 100px" name="practiceExplain"></textarea>
            </div>
            <div class="field">
                <label>题目解析</label>
                <div th:if="${practice.practiceIsRadioOrSelect.equals('radio')}">
                    <input type="radio" name="isRadioOrSelect" value="radio" checked> 单选
                    <input type="radio" name="isRadioOrSelect" value="select"> 多选
                </div>
                <div th:if="${practice.practiceIsRadioOrSelect.equals('select')}">
                    <input type="radio" name="isRadioOrSelect" value="radio"> 单选
                    <input type="radio" name="isRadioOrSelect" value="select" checked> 多选
                </div>
            </div>
            <button class="ui button" type="submit">修改</button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>

<script>
    $(function(){
        //将导航标为选中状态
        $("#managePractice").attr("class","item active");
    })
</script>
</body>
</html>