<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题解修改页面</title>
    <div th:include="manager/manageCommon/js_css :: js_css"></div>
</head>
<body>
<div class="ui grid">
    <!--导航-->
    <div class="row" th:include="manager/manageCommon/nav :: manageNav">
    </div>

    <!--主体-->
    <div style="margin: 0px auto !important;width: 1000px">
        <form method="post" th:action="@{/manage/question/updateQuestion}" class="ui form" style="font-size: large">
            <input type="hidden" th:value="${question.id}" name="id">
            <input type="hidden" th:value="${#dates.format(question.createTime,'yyyy-MM-dd HH:mm:ss')}"
                   name="createTime">
            <div class="field">
                <label>题目名称</label>
                <input th:value="${question.questionName}" type="text" name="question_name" placeholder="题目名称">
            </div>
            <div class="field">
                <label>题目来源</label>
                <select name="question_from">
                    <option th:text="${question.questionFrom}"></option>
                    <option th:each=" platform : ${platforms}" th:text="${platform.platform}"></option>
                </select>
                <a th:href="@{/manage/contest/toAddContestPlatform}">点击这里添加题目来源</a>
            </div>
            <div class="field">
                <label>作者</label>
                <input th:value="${question.author}" type="text" name="author" placeholder="作者">
            </div>
            <div class="field">
                <label>标签</label>
                <input th:value="${question.tag}" type="text" name="tag" placeholder="标签">
            </div>
            <div class="field">
                <label>题解</label>
                <textarea style="resize: none;
                    height: 500px;
                    width: 50%;
                    float: left;
                    !important;" id="solution" name="solution"
                    th:text="${question.solution}"></textarea>
                <div style="height:432px;
                    float: left;
                    width: 50%;
                    border: 1px solid darkgrey;
                    border-radius: 5px;
                    !important;overflow: scroll" id="show">

                </div>
            </div>
            <button class="ui button" type="submit">修改</button>
        </form>
    </div>

</div>

<!--占位-->
<div>
    <br>
    <br>
    <br>
    <br>
</div>
<script>


    //页面加载后将需要修改的代码也进行高亮显示
    $(function(){
        let text = $("#solution").val();
        console.log(text)
        $("#show").html(marked.parse(text));

        //加上这个代码才能进行高亮显示
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        $("#manageQuestion").attr("class","item active");
    })

    $("#solution").on("keyup blur", function () {
        let text = $("#solution").val();
        console.log(text)
        $("#show").html(marked.parse(text));

        //加上这个代码才能进行高亮显示
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });
    })
</script>
</body>
</html>